.container-information {
  width: 360px;
  height: 111px;
  text-align: center;
  font-family: "Montserrat";
  color: #3f3f55;
}

.container-information-content {
  width: 36rem;
  height: 11.1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container-inforation-content img {
  margin-right: 5px;
}

.text-content {
  display: flex;
  flex-direction: column;
}

.text-content p {
  font-size: 24px;
  font-weight: 700;
  padding-top: 10px;
}
.image-information {
  padding-right: 40px;
}
