.container-information {
  width: 360px;
  height: 111px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
  color: #3f3f55;
  margin: 19px 0 24px;
  border-radius: 30px;
}

.container-information-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-inforation-content img {
  margin-right: 5px;
}

.text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-content p {
  font-size: 24px;
  font-weight: 700;
  padding-top: 10px;
}
.image-information {
  padding-right: 40px;
}
.card-pagas {
  background-color: #eef6f6;
}
.card-vencidas {
  background-color: #ffefef;
}
.card-previstas {
  background-color: #fcf6dc;
}
