.container-home {
  width: 100vw;
  height: 100vh;
}

.teste {
  width: 100vw;
  height: 10vh;

  display: flex;
}

.teste2 {
  width: 90vw;
  height: 90vh;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.contents-nav {
  width: 20%;
}
.contents-home {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.contents-title {
  display: flex;
  gap: 4rem;
}
.contents-small-table {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}
