.container-mensage-sucess-up-user {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(145, 154, 150, 0.3);
  backdrop-filter: blur(2px);
  z-index: 200;
}

.container-mensage-sucess-up-user .mensage-item-sucess {
  width: 600px;
  height: 400px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 26px;
}
.container-mensage-sucess-up-user .mensage-item-sucess img {
  width: 130px;
  height: 130px;
  flex-shrink: 0;
}
.container-mensage-sucess-up-user .mensage-item-sucess p {
  color: #343447;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  color: #cc7800;
}
.confirmation-buttons {
  border-radius: 4px;
  width: 250px;
  height: 24px;
  display: flex;
  gap: 25px;
}
.confirmation-buttons button:nth-child(2) {
  background-color: #acd9c5;
  color: #034a2a;
}
.confirmation-buttons button:nth-child(1) {
  background-color: #f2d6d0;
  color: #ae1100;
}
.close {
  position: absolute;
  top: 230px;
  right: 580px;
}
