.signup-container {
  min-height: 100vh;
  display: flex;
  justify-content: stretch;
}

.signup-container-left {
  width: 36%;
  min-height: 100vh;
  display: flex;
  background-color: #f0f0f5;
  padding: 100px 60px;
}

.container-stepper {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.container-step {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.container-step-title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.container-step-title span {
  color: #0e8750;
  font-family: Montserrat;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 23.4px */
}

.container-stepper svg {
  width: 32px;
  height: 32px;
}

.description {
  border-left: 4px solid #0e8750;
  height: 48px;
  padding-left: 21px;
  margin-left: 13px;
  color: #3f3f55;
  font-family: Nunito;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 23.4px */
}

.container-stepper .container-step:last-child .description {
  border-left: 4px solid transparent;
}

.container-highlighter {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.highlighter {
  width: 82px;
  height: 6px;
  flex-shrink: 0;
  border-radius: 5px;
  background-color: #dedee9;
}

.highlighter-active {
  background-color: #0e8750;
}

.signup-container-rigth {
  width: 64%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0 60px 0;
}

.signup-container-rigth p {
  color: #3f3f55;
  font-family: Nunito;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.34rem;
}

.signup-container-rigth a {
  color: #da0175;
  font-family: Nunito;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.34rem;
  text-decoration-line: underline;
}

.container-finish {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.finish {
  width: 400px;
  height: 312px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 30px;
  background: #f0f0f5;
  margin-bottom: 25px;
}

.finish h2 {
  margin-top: 20px;
}

form h1 {
  color: var(--cinzas-cinza-1, #343447);
  text-align: center;
  font-family: Montserrat;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 32px;
}

.signup-container form button {
  margin: 40px 0 8px 0;
}

.container-inputs {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 20px;
  position: relative;
}

.container-inputs label {
  color: #344054;
  font-family: Nunito;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
}

.container-inputs input {
  color: #667085;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  padding-left: 14px;
  border-radius: 0.8rem;
  border: 1px solid #d0d5dd;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  height: 40px;
  width: 300px;
}

.password-toggle {
  position: absolute;
  top: 35px;
  right: 14px;
}
.password-toggle img {
  width: 22px;
}

form h1 {
  color: #343447;
  text-align: center;
  font-family: Montserrat;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 32px;
}

.container-inputs {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 20px;
}

.container-inputs label {
  color: #344054;
  font-family: Nunito;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
}

.container-inputs input {
  color: #667085;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  padding-left: 14px;
  border-radius: 0.8rem;
  border: 1px solid #d0d5dd;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  height: 40px;
  width: 300px;
}
