.signup-container {
  height: 100vh;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-container-left {
  width: 36%;
  min-height: 100vh;
  display: flex;
  background-color: #f0f0f5;
  padding: 100px 60px;
}

.signup-container-rigth {
  width: 64%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0 60px 0;
}

.container-finish {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.finish {
  width: 400px;
  height: 312px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 30px;
  background: #f0f0f5;
  margin-bottom: 25px;
}

.finish h2 {
  margin-top: 20px;
}

form h1 {
  color: var(--cinzas-cinza-1, #343447);
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 32px;
}

.signup-container form button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  width: 160px;
  margin: 40px 0 8px 0;
  border-radius: 10px;
  background: #da0175;
  color: #fff;
}

.container-inputs {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 20px;
  position: relative;
}

.container-inputs label {
  color: #344054;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.container-inputs input {
  color: #667085;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-left: 14px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  height: 40px;
  width: 300px;
}

.password-toggle {
  position: absolute;
  top: 35px;
  right: 14px;
}

form h1 {
  color: #343447;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 32px;
}

.container-inputs {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 20px;
}

.container-inputs label {
  color: #344054;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.container-inputs input {
  color: #667085;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-left: 14px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  height: 40px;
  width: 300px;
}
